.margin {
  margin: 100px auto;
}
.container {
  padding: 0px 0px 100px 0px;
  background-color: #f3f3f3;
}

.jumbotron {
  background-color: #e9ecef94 !important;
  width: 30rem;
  color: #545454 !important;
}

.jumbotron > h2 {
  font-size: 2.5rem;
}

.w-100 {
  width: auto !important;
  min-height: -webkit-fill-available;
  height: 1092px;
}

.carousel-inner {
  height: 40rem !important;
}

.carousel-item.active, .carousel-item-next, .carousel-item-prev {
  display: flex !important;
  justify-content:  center !important;
  /* align-items: flex-start; */
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #545454;
  border: 8px solid #545454;
  border-radius: 25px;
  width: 40px;
  height: 40px;
}

.carousel-control-prev, 
.carousel-control-next {
  width: 5%;
}

.carousel-indicators .active {
  background-color: #545454;
}

.carousel-caption {
  left: 25%;
  bottom: 500px !important;
  margin-bottom: 20px;
  width: 50%;
  color: #545454!important;
}

@media (max-width: 767px) {
  .container {
      width: 100% !important;
  } 

  .jumbotron {
    width: 100%;
    height: 38rem;
    bottom: 0;
  }
  .carousel-inner {
      height: 40rem;
  }

  .carousel-control-prev, 
  .carousel-control-next {
      display: none;
  }

  .carousel-caption {
      left: 60px !important;
      right: 0 !important;
      top: 0;
      margin-bottom: 20px;
      width: 90%;
      height: 90%;
  }

  .jumbotron > h2 {
    font-size: 5.5rem;
  }

  .jumbotron > p {
    font-size: 2.5rem;
  }

  .btn {
    width: 15rem;
    height: 6rem;
    font-size: 1.5rem !important;
  }
}