.margin {
  margin: 100px auto;
}
.container {
  padding: 0px 0px 100px 0px;
  background-color: #f3f3f3;
}

.list_for_services {
  list-style: none;
  font-weight: 600;
}

.list_for_services > li{
  padding-left: 40px;
  position: relative;
  margin: 10px;
  text-align: justify;
  font-size: 1.5rem;
  color: #142986;
  font-style: italic;
}

.list_for_services > li::before {
  content: "✔";
  position: absolute;
  top: 0;
  left: 0;
  color: blue !important;
  font-size: 1.5rem;
}

.w-100 {
  width: auto !important;
  min-height: -webkit-fill-available;
  height: 1092px;
}

.carousel-inner {
  height: 40rem !important;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: flex !important;
  justify-content: center !important;
  /* align-items: flex-start; */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #545454;
  border: 8px solid #545454;
  border-radius: 25px;
  width: 40px;
  height: 40px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-indicators .active {
  background-color: #545454;
}

.carousel-caption {
  left: 25%;
  bottom: 500px !important;
  margin-bottom: 20px;
  width: 50%;
  color: #545454 !important;
  background-color: #545454ab !important;
}

@media (max-width: 767px) {
  .container {
    width: 100% !important;
  }

  .carousel {
    display: none;
  }
}
