.margin {
  margin: 100px auto;
}
.container {
  padding: 0px 0px 100px 0px;
  background-color: #f3f3f3;
}

.carou

.gallery_title{
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 800;
  padding: 60px;
  background-color: #f3f3f3;
  border-top: 1px solid #dee2e6;
  margin-top: 120px;
}

.w-100 {
  width: auto !important;
  min-height: -webkit-fill-available;
}

.carousel-inner {
  height: 80vh !important;
}

.carousel-item.active, .carousel-item-next, .carousel-item-prev {
  display: flex !important;
  justify-content: center !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #ef454a;
  border: 8px solid #ef454a;
  border-radius: 25px;
  width: 40px;
  height: 40px;
}

.carousel-control-prev, 
.carousel-control-next {
  width: 5%;
}

.carousel-indicators .active {
  background-color: #ef454a;
}

.carousel-caption {
  left: 25%;
  margin-bottom: 20px;
  width: 50%;
}

@media (max-width: 768px) {
  .container {
      width: 100% !important;
  } 

  .carousel-inner {
      height: 100vh;
  }

  .carousel-control-prev, 
  .carousel-control-next {
      display: none;
  }

  .carousel-caption {
      left: 0;
      margin-bottom: 20px;
      width: 100%;
  }
}

@media (max-width: 600px) {
  .logo_text {
      font-size: 24px;
      margin-top: 4px;
  }

}