.contacts__container {
  min-height: 75vh;
}

.container {
  background-color: rgb(153, 150, 150);
}

.icon_phone {
  background-image: url('../images/contactsphone.png');
  background-repeat: no-repeat;
  padding: 1rem 0 1rem 3rem;
  background-size: 20%;
  text-align: center;
}

.icon_location {
  background-image: url('../images/location.png');
  background-repeat: no-repeat;
  padding: 1rem 0 1rem 3rem;
  background-size: 20%;
  text-align: center;
}

.contacts_row {
  padding-top: 4rem;
}

.col_contacts_card {
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1); 
}