@import "~react-image-gallery/styles/css/image-gallery.css";

.height_for_gallery {
  height: 30rem;
}

.image-gallery-slide img {
  width: 30rem;
  margin: 0 auto;
}
.image-gallery-image {
  display: flex;
  background-color: #F3F3F3;
}

.title_of_projects {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  color: #142986;
  border-bottom: 2px solid #142986;
}