@media (min-width: 768px) {
  .navbar {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .navbar {
    width: 100%;
  }
  .nav-link {
    font-size: 0.8rem;
  }
  .dropdown-item {
    font-size: 1rem;
  }
}

@media (max-width: 1000px) {
  .nav-link {
    font-size: 0.6rem;
  }
}

@media (min-width: 1000px) and (max-width: 1100px) {
  .nav-link {
    font-size: 0.9rem;
  }
}

@media (max-width: 767px) {
  .navbar {
    width: 100vw;
  }
  .nav-link {
    font-size: 1.5rem;
  }
  .dropdown-item {
    font-size: 5rem;
  }
  .navbar-nav {
    align-items: center;
  }
  .active__link {
    background-color: rgba(107, 107, 107, 0) !important;
  }
}

.navbar {
  padding: 0 !important;
}

.nav-link:hover {
  color: #142986 !important;
}

.active__link {
  background-color: rgb(107, 107, 107);
  color: #142986 !important;
}

.navbar-expand-sm {
  justify-content: center !important;
}
.mr-auto,
.mx-auto {
  margin: auto;
  justify-content: space-between;
}
.nav-link {
  color: white;
  padding: 1rem 1rem !important;
  font-weight: 700;
}
.rotate {
  transform: rotate(90deg);
  height: 25.8rem;
}

div {
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
}

@media (max-width: 375px) {
  .nav-link {
    font-size: 1rem;
  }
}
